<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fun.ticsmyc.mapper.RymorListMapper">

    <select id="selAll" resultType="RymorList">
        select * from rymorlist
    </select>

    <insert id="addRymorList" parameterType="RymorList">
        insert IGNORE into rymorlist
        (id,title,mainSummary,summary,body,sourceUrl,score,rumorType)
        VALUES
        (#{id},#{title},#{mainSummary},#{summary},#{body},#{sourceUrl},#{score},#{rumorType})
    </insert>
</mapper>